* {

    margin: 0;
    padding: 0;

}

body {
    font-family: 'Cormorant Garamond', serif;
}

a {
    text-decoration: none;
}





header {

    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(image/header3.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;


}



.header-content {

    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h1 {
    font-size: 70px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.header-content p {
    font-size: 25px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.ctn {

    padding: 15px 20px;
    background: orangered;
    border-radius: 30px;
    color: white;
    font-size: 25px;
}

section {

    width: 80%;
    margin: 80px auto;
}

.title {

    text-align: center;
    font-size: 35px;

}

.title h1 {
    margin-bottom: 30px;
}

.title p {
    font-size: 20px;


}

.container {

    display: flex;
    justify-content: center;
    margin: 50px auto;

}

.box {


    padding: 40px;
    box-shadow: 2px;
    margin: 0 15px;
    background: ghostwhite;
    border-radius: 5px;
}

.box1 {


    padding: 40px;
    box-shadow: 2px;
    margin: 0 15px;
    background: #ECCFC9;
    border: 2px solid red;
    border-radius: 5px;
    font-size: bold;

}

.box2 {


    padding: 40px;
    box-shadow: 2px;
    margin: 0 15px;
    background: ghostwhite;
    border-radius: 5px;

}

.box3 {


    padding: 40px;
    box-shadow: 2px;
    margin: 0 15px;
    background: ghostwhite;
    border-radius: 5px;
}

.box4 {


    padding: 40px;
    box-shadow: 2px;
    margin: 0 15px;
    background: ghostwhite;
    border-radius: 5px;
}

p {

    margin-bottom: 20px;

}

.line {
    width: 100%;
    height: 1px;
    border: 0 none;
    border-right: 30%;
    border-left: auto;
    margin-top: 20px;
    text-align: center;

    margin-bottom: 30px;
    background-color: gray;
}

.ctn1 {

    padding: 15px 20px;
    background: red;
    border-radius: 30px;
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 50px;


}

.title1 {

    text-align: center;
    font-size: 35px;
    margin-bottom: 70px;
    padding-top: 80px;




}

.title1 h1 {
    margin-bottom: 30px;
    height: 50px;
}

.title1 p {
    font-size: 25px;


}



.family {

    height: 350px;
    padding: 20px;
    box-shadow: 2px;
    margin: 0 20px;
    background: #8EC6C5;
    border-radius: 5px;
    font-size: bold;

}

.family img {
    margin-bottom: 50px;
    padding-top: 30px;
    height: 60px;
}

.family h1 {
    margin-bottom: 20px;
    font-size: 40px;
}

.family {

    font-size: 23px;
}

.family1 {

    height: 350px;
    padding: 20px;
    box-shadow: 2px;
    margin: 0 20px;
    background: #ECCFC9;
    border-radius: 5px;
    font-size: bold;

}

.family1 img {
    margin-bottom: 50px;
    padding-top: 30px;
    height: 60px;
}

.family1 h1 {
    margin-bottom: 20px;
    font-size: 40px;
}

.family1 {

    font-size: 23px;
}

.family3 {

    height: 350px;
    padding: 20px;
    box-shadow: 2px;
    margin: 0 20px;
    background: #F2D68C;
    border-radius: 5px;
    font-size: bold;

}

.family3 img {
    margin-bottom: 50px;
    padding-top: 30px;
    height: 60px;
}

.family3 h1 {
    margin-bottom: 20px;
    font-size: 40px;
}

.family3 p {

    font-size: 23px;
}

.about {

    width: 100%;
    padding: 50px 0px;

}

.about img {

    height: auto;
    width: 700px;
    border-radius: 5px;
}

.about-text {
    width: 550px;
}

.main {

    width: 1300px;
    max-width: 100%;
    margin: 70px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-text h1 {
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 30px;
    margin-bottom: 40px;
}

.link-button {

    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 15px 30px;
    color: white;
    font-weight: 700;
    font-size: 30px;
    border-radius: 5px;
}

.title2 h1 {


    font-size: 70px;
    text-align: center;
    margin-bottom: 20px;
}

.title2 p {

    text-align: center;
    font-size: 30px;
    margin-bottom: 80px;
}


.btn {

    padding: 100px;
    margin: 0px 70px;
    background: #f0d8cf;
    border-radius: 1px;
    margin-bottom: 150px;

}

.btn input {

    margin-left: 200px;
    padding: 15px 70px;

}

.btn button {
    margin-right: 100px;
    padding: 15px 30px;
    background-color: red;
    color: white;
    font-size: 15px;
}

footer {

    position: relative;
    width: 100%;
    height: 300px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h1 {

    color: rgb(230, 57, 57);
    margin-bottom: 20px;
    font-size: 40px;
}

footer p {

    color: white;

    font-size: 20px;

}